@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

/* https://coolors.co/palette/ef476f-ffd166-06d6a0-118ab2-073b4c */

body  {

  font-family: 'Source Code Pro', monospace;
  background-color: #FFFFFC;

  /* Gömmer scroll bar för Edge och Firefox.
   * https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Gömmer scroll bar för Chrome och Safari
 * https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
body::-webkit-scrollbar {

  display: none;
}

.bg-danger {

  background-color: #EF476F !important;
}

.text-danger {

  color: #EF476F !important;
}

.btn {

  background-color: #EF476F !important;
  color: #FFFFFC !important;
}

.btn:hover {

  background-color: #073B4C !important;
}

h1 {

  font-size: 7rem;
  color: #FFFFFC;
  user-select: none;
}

h2, h4, h6, pre {

  font-family: 'Source Code Pro', monospace;
  color: #073B4C;
}

hr {

  border-top: 1px solid #073B4C;
}

.nav-img {

  height: 25px;
}

#spinner {

  margin-top: 200px;
  width: 4rem;
  height: 4rem;
}

#fetchContent {

  margin-left: auto;
  margin-right: auto;
  max-width: 1532px;
}

.card {

  margin: 0 5px 5px 0;
  border: 1px solid #073B4C;
  border-radius: 0;
}

table, tr, td {

  display: block;
}

@media screen and (max-width: 1532px) {

  #fetchContent {

    max-width: 1100px;
  }
}

/* Mobil */
@media screen and (max-width: 1100px) {

  h1 {

    font-size: 3rem;
  }

  #fetchContent {

    max-width: 600px;
  }
}
