* {

  font-family: monospace, sans-serif;
  font-size: 100%;
}

body  {

  background-color: #f8f9fa;
  /* Gömmer scroll bar för Edge och Firefox  */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Gömmer scroll bar för Chrome och Safari */
body::-webkit-scrollbar {

  display: none;
}

.firstGen {

  text-align: center;
}

#fetchContent {

  margin-left: auto;
  margin-right: auto;
  max-width: 1532px;
}

.card {

  margin: 0 5px 5px 0;
  border: 1px solid #1D3557;
  border-radius: 0;
}

#nav-img {

  height: 25px;
}

/* Lite hjälp med uppdelningen av table från stackoverflow:
 * https://stackoverflow.com/questions/48328514/how-to-display-table-in-two-columns
 */
table, tr, td {

  display: block;
}

#gameList {

  font-size: 85%;
  float: left;
  width: 50%;
}

#moveListTR {

  font-size: 85%;
  float: left;
  width: 33%;
}


@media screen and (max-width: 1532px) {

  #fetchContent {

    max-width: 1100px;
  }
}

@media screen and (max-width: 1100px) {

  #fetchContent {

    max-width: 600px;
  }
}
